//color pallete
$black: #000;
$orange: #ff5b1a;
$white: #fff;
$alto: #dddddd;
$silver-chalice: #aaa;
$mine-shaft: #202020;
$dove-gray: #727171;
$gray: #8f8f8f;
$gallery: #eeeeee;
$cod-gray: #101010;
$blue: #293cf8;
$reset-btn: #D8D8D8;

//default font-size
$default-font-size: 16;

$form-border: $alto;
$header-top-bg: $mine-shaft;
$top-search-color: $dove-gray;
$separator-color: $gray;
$search-products-bg: $gallery;

$footer-clients: $gallery;
$footer-mid: $mine-shaft;
$footer-bottom: $cod-gray;
